.goal-color {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.color-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.result-wrapper {
  display: flex;
  gap: 24px;
}
