.millstone-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.player-wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
