.input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  border: 3px solid var(--primary);
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 5px;
  box-sizing: border-box;
  &:focus {
    border: 3px solid var(--foreground);
  }
}
